@media only screen and (max-width: 860px) {
  .skills-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
  }

  .separator {
    justify-self: center;
  }
}
