@import "colours";

.section-title {
  background-color: black;
  padding: 0 5px;
  color: white;
  place-self: center;
  grid-column-start: 2;
}

.title-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 1fr;
  margin: 1rem
}

@media only screen and (min-width: 860px) {
  .container {
    grid-template-columns: 10rem 1fr;
    margin: 2rem 0;
  }
}

.contents-container {
  margin-top: 1rem;
  & p {
    color: $text;
  }

  & .skills {
    & svg {
      color: $red;
    }
  }

  & .interests {
    & svg {
      color: $purple;
    }
  }
}

@media only screen and (min-width: 860px) {
  .contents-container {
    margin-left: 1rem;
    margin-top: 0;
  }
}