@import "colours";

.section-title {
  background-color: black;
  padding: 0 5px;
  color: white;
  place-self: end;
}

.title-container {
  grid-template-columns: 1fr;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2rem 1fr;
  margin: 1rem;

  @media only screen and (min-width: 860px) {
    grid-template-columns: 10rem 1fr;
    margin: 1rem 0;
  }
}

.contents-container {
  align-self: center;
  & p {
    color: $text;
  }

  @media only screen and (min-width: 860px) {
    margin-left: 1rem;
    margin-top: 0;
  }
}

#skills {
  & svg {
    color: $red;
  }
}

#interests {
  & svg {
    color: $purple;
  }
}
