@import 'colours';

.header {
  &-container {
    display: grid;
    grid-template-rows: 240px 1fr;
    grid-template-columns: 3fr 1fr;

    @media only screen and (min-width: 860px) {
      grid-template-columns: 192px 4fr 64px;
      grid-template-rows: 1fr;
    }
  }

  &-description {
    grid-row-start: 2;
    color: $red;
    place-self: center;
    margin: 1rem 0;

    @media only screen and (min-width: 860px) {
      grid-row-start: 1;
      grid-column-start: 2;
      margin: 0 3rem;
    }
  }
}

.details-bar {
  margin: 0;
  display: grid;
  grid-template-rows: 120px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

.cell {
  color: lightgrey;
  border-color: grey;
  padding: 0;
}

.paper {
  width: fit-content;
  padding: 5px 5px;
  border-color: grey;
  place-self: center;

  & img {
    height: 192px;
  }

  & h4 {
    margin-left: 5px;
    color: $red;
  }
}
